# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.SvsS.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\trsh\ProjetsUnity\SSD_SvsS\SvsS\.idea\.idea.SvsS\.idea/dataSources/
/dataSources.local.xml
